html {
    height: 100%;
    width: 100%;
}

.main-section {
    background-image: url("./assets/mountain.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.active {
    background-color: #343a40;
    border-radius: 0.125rem;
}